nav {
	// background-color: #f4f4f4;
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	// padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent; /* Make navbar transparent */
	z-index: 1000;
	// box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	.nav-left {
	}
	.nav-middle {
	}
	.nav-right {
		a {
			margin-left: 30px;
		}
	}
}
