// OrderDetails styles
.OrderDetails-page {
    // height: calc(100vh - 100px);
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    * {
        // border: 1px solid green;
    }

    .order-container {
        width: 80%;
        height: 100%;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        .head {
            height: fit-content;
            .row1 {
                height: 70%;
                .left {
                    width: 40%;
                    .magazin-info {
                        height: 200px;
                    }
                }
                .right {
                    width: 60%;
                    height: 100%;
                }
            }
            .row2 {
                height: 30%;
            }
        }

        .body {
            // background-color: red;
            // height: calc(100% - 550px);
            flex: 2;
            margin-top: 20px;
            .products-container {
                .title {
                }
                .products {
                }
            }
            .products-sub {
                .left {
                }
                .total {
                    div {
                        // height: fit-content;
                    }
                }
                .date {
                }
            }
        }

        .foot {
            height: 250px;
            background-color: blue;
        }
    }

    .border {
        border: 1px solid gray;
    }
    .rounded {
        border: 1px solid gray;
        border-radius: 30px;
        padding: 0.5rem 1rem;
    }
}
