@tailwind base;
@tailwind components;
@tailwind utilities;

// =============================================================
// RESET CSS
// =============================================================

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	a {
		text-decoration: none;
		color: inherit;
	}
	dl,
	ol,
	ul {
		list-style: none;
		margin: 0;
	}
}

html,
body {
	width: 100vw;
	background-color: #e3e6e6;
	margin: 0;
	padding: 0;
	&::-webkit-scrollbar {
		width: 0px;
	}
	// background: bottom left repeat-x fixed url('./assets/images/bgs/m2.png');
}

#root {
	width: 100%;
	position: relative;
	font-family: "Syne", sans-serif;
}

// ================================================================== //
// GLOBAL
// ================================================================== //
.hidden-scroll {
	overflow: auto;
	&::-webkit-scrollbar {
		width: 0px;
	}
}

.full-page {
	width: 100vw;
	height: 100vh;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ================================================================== //
// LOGIN & REGISTER
// ================================================================== //
$bc: #dfd7d7;
.big-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.login-bg {
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
	}
	.login-page {
		z-index: 1;
		width: 420px;
		background: purple;
		color: white;
		border-radius: 10px;
		padding: 30px 40px;
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(20px);
		flex-direction: column;
		justify-content: center;
		.login-title {
			font-weight: 600;
			font-size: 36px;
			text-align: center;
		}
		.login-form {
			.input-box {
				position: relative;
				width: 100%;
				height: 50px;
				margin: 30px 0;
				input {
					width: 100%;
					height: 100%;
					background: transparent;
					border: none;
					outline: none;
					border: 2px solid rgba(255, 255, 255, 0.2);
					border-radius: 5px;
					font-size: 1em;
					transition: 0.5s;
					color: white;
					padding: 20px 45px 20px 20px;
					background: transparent;
				}
				label {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					display: flex;
					align-items: center;
					padding-left: 10px;
					pointer-events: none;
					font-size: 1em;
					color: $bc;
					// color: black;
					text-transform: uppercase;
					transition: 0.5s;
				}
				input:valid ~ label,
				input:focus ~ label {
					color: white;
					transform: translateX(10px) translateY(-11px);
					font-size: 0.65em;
					padding: 3px 15px;
					height: fit-content;
					background: rgba(254, 81, 28, 0.962);
					letter-spacing: 0.2em;
					border-radius: 4px;
					// border: 1px solid $bc;
				}
				input:valid,
				input:focus {
					border: 2px solid $bc;
					background: transparent;
					// border-top: none;
				}
			}
			i {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 20px;
			}
			.login-button {
				width: 100%;
				height: 45px;
				border: none;
				outline: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 16px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

				// color: $bc;
				// background: rgba(254, 81, 28, 0.962);
				background: rgb(236 27 27 / 80%);
				// background: $bc;
				transition: all 0.5s ease;
				&:hover {
					color: white;
					background: #2f091d;
					// background: black;
				}
			}
		}
	}
}

// ================================================================== //
// Form //
// ================================================================== //
.biggest-stage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.background-stage {
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
	}
	.second-stage {
		z-index: 11;
		width: 30%;
		height: 60%;
		background: purple;
		color: white;
		border-radius: 10px;
		padding: 30px 40px;
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(20px);
		flex-direction: column;
		justify-content: center;
		.title-stage {
			height: 10%;
			font-weight: 500;
			font-size: 36px;
			text-align: center;
		}
	}
}
.input-box-template {
	position: relative;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	.input-typo {
		margin: 8px 0;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		border: 2px solid rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		font-size: 1em;
		transition: 0.5s;
		color: white;
		padding: 20px 45px 2px 20px;
	}
	.label-typo {
		position: relative;
		position: absolute;
		left: 0;
		padding: 14px;
		pointer-events: none;
		font-size: 1em;
		color: black;
		text-transform: uppercase;
		transition: 0.5s;
	}
	.input-typo:valid ~ .label-typo,
	.input-typo:focus ~ .label-typo {
		color: white;
		transform: translateX(10px) translateY(-1px);
		font-size: 0.65em;
		padding: 0 10px;
		background: black;
		letter-spacing: 0.2em;
	}
	.input-typo:valid,
	.input-typo:focus {
		border: 3px solid white;
	}
}
// ================================================================== //
// BUTTON
// ================================================================== //
.btn {
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-primary {
	background-color: #4b70e2;
	color: #f9f9f9;
	&:hover {
		background-color: #6b87dc;
		color: #f9f9f9;
	}
}

.btn-secondary {
	background-color: #f1f1f1;
	color: #4b70e2;
	&:hover {
		background-color: #e1e1e1;
	}
}

.btn-success {
	background-color: #4caf50;
	color: white;
	&:hover {
		background-color: #45a049;
	}
}

.btn-warning {
	background-color: #ff9800;
	color: white;
	&:hover {
		background-color: #e68a00;
	}
}

.btn-danger {
	background-color: #d83c31;
	color: white;
	&:hover {
		background-color: #da190b;
	}
}

// ================================================================== //
// LINK
// ================================================================== //

// ================================================================== //
// PAPER
// ================================================================== //
.paper {
	// background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 0px;
}
