@tailwind base;
@tailwind components;
@tailwind utilities;

// =============================================================
// RESET CSS
// =============================================================

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	a {
		text-decoration: none;
		color: inherit;
	}
	dl,
	ol,
	ul {
		list-style: none;
		margin: 0;
	}
}

html,
body {
	width: 100vw;
	background-color: #e3e6e6;
	margin: 0;
	padding: 0;
	&::-webkit-scrollbar {
		width: 0px;
	}
	// background: bottom left repeat-x fixed url('./assets/images/bgs/m2.png');
}

#root {
	width: 100%;
	position: relative;
	font-family: "Syne", sans-serif;
}

// ================================================================== //
// GLOBAL
// ================================================================== //
.hidden-scroll {
	overflow: auto;
	&::-webkit-scrollbar {
		width: 0px;
	}
}

.full-page {
	width: 100vw;
	height: 100vh;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ================================================================== //
// BUTTON
// ================================================================== //
.btn {
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-primary {
	background-color: #4b70e2;
	color: #f9f9f9;
	&:hover {
		background-color: #6b87dc;
		color: #f9f9f9;
	}
}

.btn-secondary {
	background-color: #f1f1f1;
	color: #4b70e2;
	&:hover {
		background-color: #e1e1e1;
	}
}

.btn-success {
	background-color: #4caf50;
	color: white;
	&:hover {
		background-color: #45a049;
	}
}

.btn-danger {
	background-color: #d83c31;
	color: white;
	&:hover {
		background-color: #da190b;
	}
}

// ================================================================== //
// LINK
// ================================================================== //

// ================================================================== //
// PAPER
// ================================================================== //
.paper {
	// background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 1em;
}
